<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegistration()">Back</ion-button>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="username"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.username">
        <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input inputmode="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="first_name"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.first_name">
        <ng-container *ngIf="first_name.hasError(error.type) && (first_name.dirty || first_name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="last_name"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.last_name">
        <ng-container *ngIf="last_name.hasError(error.type) && (last_name.dirty || last_name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.age">
        <ng-container *ngIf="age.hasError(error.type) && (age.dirty || age.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Height(in)</ion-label>
        <ion-input formControlName="height"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.height">
        <ng-container *ngIf="height.hasError(error.type) && (height.dirty || height.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Weight(lb)</ion-label>
        <ion-input formControlName="weight"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.weight">
        <ng-container *ngIf="weight.hasError(error.type) && (weight.dirty || weight.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-list>
    <ion-button [disabled]="!registrationForm.valid" (click)="SaveData()" type="submit" expand="block">Submit <ion-icon slot="end"
        name="create">
      </ion-icon>
    </ion-button>
  </form>
</ion-content>