<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegistration()">Back</ion-button>
    <ion-title>
      Log Data
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button (click)="sendtoActivity()" type="button" size="large" color="secondary" expand = "full">Log Activity</ion-button>
    <ion-button (click)="sendtoFood()" type="button" size="large" color= "dark" display= "block" expand= "full">Log Food</ion-button>
    <ng-container *ngIf="activity_name">
      <ng-container *ngFor= "let i of activity_name">
        <h5>Activity Added:</h5>
        <h3 style="text-align:center">{{ i }}</h3>
         <!--
          <h6 class="calories_b">Calories Burned: <ion-chip>
            <ion-label>{{ i }}</ion-label>
            </ion-chip>
          </h6>
         --> 
      </ng-container>
    </ng-container>
    
    <ng-container *ngIf="food_name">
      <ng-container *ngFor= "let i of food_name">
        <h5>Food Added: </h5>
        <h3 style="text-align:center">{{ i }}</h3>
        <!--
          <h6 class="calories_i">Calories Eaten: <ion-chip>
            <ion-label>{{ j }}</ion-label>
            </ion-chip>
          </h6>
        --> 
      </ng-container>
    </ng-container>
    
</ion-content>
<ion-footer class="ion-no-padding ion-no-margin">
  <ion-button (click)="saveLog()" type="submit" expand="block">Submit<ion-icon slot="end"name="create"></ion-icon></ion-button>
</ion-footer>